ETL

Variables to enter the model:
 - Churn Flag
 - Gender Flag (NÃO)
 
 - Total of services subscribed
 - Phone Service Flag (0-'No', 1-'Yes')
 - Multiple Lines Flag (0-'No'/'No phone service', 1-'Yes')
 - Internet Service Dummies ('No', 'DSL', 'Fiber optic' -> 2 vars)
 - Online Security Flag (0-'No'/'No internet service', 1-'Yes')
 - Online Backup Flag (0-'No'/'No internet service', 1-'Yes')
 - Device Protection Flag (0-'No'/'No internet service', 1-'Yes')
 - Tech Support Flag (0-'No'/'No internet service', 1-'Yes')
 - Streaming TV Flag (0-'No'/'No internet service', 1-'Yes')
 - Streaming Movies Flag (0-'No'/'No internet service', 1-'Yes')
Nota: 'No'/'No phone service' e 'No'/'No internet service' são a mesma variável
 
 - Tenure
 - Type of Contract Dummies ('Month-to-month','One year','Two year' -> 2 vars)
 - Payment Method Dummies ('Eletronic Check','Mailed Check','Bank transfer (automatic)','Credit card (automatic)' -> 3 vars)
 - Monthly Amount Charged
 - Total Amount Charged (NÃO - É preferivel o Tenure)

In [1]:
#import packages
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/TelcoCustomerChurn.csv')

In [3]:
services = ['PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies']

df['servicesCount'] = 0
for row in range(df.shape[0]):
    current = df.loc[row, services].isin(['Yes','DSL','Fiber optic'])
    df.loc[row,'servicesCount'] = current[current == True].count()

In [4]:
df_model = df[['tenure','MonthlyCharges','servicesCount']].copy()
df_model

      tenure  MonthlyCharges  servicesCount
0          1           29.85              2
1         34           56.95              4
2          2           53.85              4
3         45           42.30              4
4          2           70.70              2
...      ...             ...            ...
7038      24           84.80              8
7039      72          103.20              7
7040      11           29.60              2
7041       4           74.40              3
7042      66          105.65              7

[7043 rows x 3 columns]

In [5]:
#Creating Flag columns
df_model['PhoneService_Yes'] = df['PhoneService'].replace(['No', 'Yes'], [0,1])
df_model['MultipleLines_Yes'] = df['MultipleLines'].replace(['No','No phone service','Yes'], [0,0,1])
df_model['OnlineSecurity_Yes'] = df['OnlineSecurity'].replace(['No','No internet service','Yes'], [0,0,1])
df_model['OnlineBackup_Yes'] = df['OnlineBackup'].replace(['No','No internet service','Yes'], [0,0,1])
df_model['DeviceProtection_Yes'] = df['DeviceProtection'].replace(['No','No internet service','Yes'], [0,0,1])
df_model['TechSupport_Yes'] = df['TechSupport'].replace(['No','No internet service','Yes'], [0,0,1])
df_model['StreamingTV_Yes'] = df['StreamingTV'].replace(['No','No internet service','Yes'], [0,0,1])
df_model['StreamingMovies_Yes'] = df['StreamingMovies'].replace(['No','No internet service','Yes'], [0,0,1])

#Convert Churn column to 1 and 0
df_model['Churn'] = df['Churn'].replace(['No', 'Yes'], [0,1])

In [6]:
#Creating dummy variables
# - Internet Service Dummies ('No', 'DSL', 'Fiber optic' -> 2 vars)
# - Type of Contract Dummies ('Month-to-month','One year','Two year' -> 2 vars)
# - Payment Method Dummies ('Eletronic Check','Mailed Check','Bank transfer (automatic)','Credit card (automatic)' -> 3 vars)

In [7]:
dummies = pd.get_dummies(df[['InternetService','Contract','PaymentMethod']])
dummies = dummies.drop(['InternetService_No','Contract_Two year','PaymentMethod_Credit card (automatic)'],axis=1)
dummies = dummies.rename(columns={"InternetService_Fiber optic":"InternetService_FiberOptic",
                                  "Contract_Month-to-month":"Contract_MonthToMonth",
                                  "Contract_One year":"Contract_OneYear",
                                  "PaymentMethod_Bank transfer (automatic)": "PaymentMethod_BankTransfer", 
                                  "PaymentMethod_Electronic check": "PaymentMethod_ElectronicCheck",
                                  "PaymentMethod_Mailed check": "PaymentMethod_MailedCheck"})

In [8]:
df_model = pd.concat([df_model, dummies], axis=1)
df_model.head()

,tenure,MonthlyCharges,servicesCount,PhoneService_Yes,MultipleLines_Yes,OnlineSecurity_Yes,OnlineBackup_Yes,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Churn,InternetService_DSL,InternetService_FiberOptic,Contract_MonthToMonth,Contract_OneYear,PaymentMethod_BankTransfer,PaymentMethod_ElectronicCheck,PaymentMethod_MailedCheck
0,1,29.85,2,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0
1,34,56.95,4,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1
2,2,53.85,4,1,0,1,1,0,0,0,0,1,1,0,1,0,0,0,1
3,45,42.30,4,0,0,1,0,1,1,0,0,0,1,0,0,1,1,0,0
4,2,70.70,2,1,0,0,0,0,0,0,0,1,0,1,1,0,0,1,0

In [10]:
df_model.to_csv('data/TransformedTelcoCustomerChurn.csv',index=False)